<div id="<%= dom_id post %>" class="flex justify-center">
  <div class="card w-full bg-base-100 shadow-xl">
    <% if post.image_url? %>
      <figure><img src="<%= post.image_url %>" alt=""  class="max-h-60" /></figure>
      <div class="card-body">
        <h2 class="card-title">
          <% if post.title? %>
            <%= post.title %>
          <% else %>
            <%= post.meta_title %>
          <% end %>
        </h2>
        <p>
          <% if post.content? %>
            <%= post.content %>
          <% else %>
            <%= post.meta_description %>
          <% end %>
        </p>
      </div>
    <% else %>
      <% category =  Category.find(post.category_id) %>
      <h2 class="card-title bg-sky-100 p-5 min-h-40 relative rounded-t-lg">
        <%= post.title %>
        <p class="absolute text-8xl opacity-5 right-0 bottom-0"><%= category.name %></p>
      </h2>
      <div class="card-body">
        <p><%= post.content %></p>
      </div>
    <% end %>
  </div>
</div>