<div id="<%= dom_id @post %>" class="flex justify-center rounded-none overflow-auto">
  <div class="w-full bg-base-100 rounded-none">
    <% if @post.image_url? %>
      <figure class="rounded-none">
        <a href="<%= @post.url %>" target="_blank" class="flex justify-center">
          <img src="<%= @post.image_url %>" alt="" class="max-h-48"/>
        </a>
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          <% if @post.title? %>
            <%= @post.title %>
          <% else %>
            <%= @post.meta_title %>
          <% end %>
        </h2>
        <p>
          <% if @post.content? %>
            <%= safe_join(@post.content.split("\n"),tag(:br)) %>
          <% else %>
            <%= @post.meta_description %>
          <% end %>
        </p>
        <div class="flex justify-between w-full mt-3">
          <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-outline btn-accent" %>
          <%= button_to "Delete", @post, method: :delete, class: "btn btn-outline btn-error" %>
        </div>
      </div>
    <% else %>
      <% category = Category.find_by(id: @post.category_id) %>
      <h2 class="card-title bg-sky-100 p-5 min-h-40 relative">
        <%= @post.title %>
        <p class="absolute text-8xl opacity-5 right-0 bottom-0">
        <% if category.present? %>
          <p class="absolute text-8xl opacity-5 right-0 bottom-0">
            <%= category.name %>
          </p>
        <% end %>
        </p>
      </h2>
      <div class="card-body">
        <p><%= safe_join(@post.content.split("\n"),tag(:br)) %></p>
        <div class="flex justify-between w-full mt-3">
          <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-outline btn-accent" %>
          <%= button_to "Delete", @post, method: :delete, class: "btn btn-outline btn-error" %>
        </div>
      </div>
    <% end %>
  </div>
</div>